@media screen and (max-width: 892px) {

    nav {
        display: none;
    }

    .conteudo-header {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.3em;
    }
}

@media screen and (max-width: 1090px) {
    .home-img {
        width: 60%;
        max-width: 400px;
        margin: 0 auto;
    }


    .home-section {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 60px;
    }

}

@media screen and (max-width:1100px) {
    .projects-p {
        width: 50%;
    }
}

@media screen and (max-width:628px) {
    .projects-p {
        width: 80%;
    }

}

@media screen and (max-width: 720px) {
    .about-p {
        width: 70%;
    }
}

@media screen and (max-width: 660px) {
    .home-img {
        width: 70%;
        margin-top: -50px;
    }
}

@media screen and (max-width:562px) {
    

    .home-titulo {
        font-size: 2em;
        width: 120%;
        margin-left: -20px;
    }

    .home-name {
        font-size: 2em;
    }

    .home-p {
        font-size: 0.98em;
    }

    .home-p2 {
        font-size: 0.98em;
    }
}

@media screen and (max-width: 360px) {

    .home-titulo {
        font-size: 1.7em;
        width: 120%;
        margin-left: -20px;
      }
    
      .home-name {
        font-size: 1.7em;
      }
    
      .home-p,
      .home-p2 {
        font-size: 0.95em;
        width: 130%;
        margin-left: -25px;
      }

    .about-p, .projects-p {
        width: 85%;
        font-size: 0.9em;
    }

    .home-img {
        width: 90%;
        margin-top: -30%;
    }

    .about-btn,
    .skills-btn {
      font-size: 0.9em;
      padding: 0.8rem 1.6rem;
    }
  
    .contact-p {
      padding: 30px;
      font-size: 1em;
    }
  
    footer {
      font-size: 0.7em;
    }

}